{% include 'user_registration/base.html' %}


<style>
    .error-alert {
        margin: 0 auto;
        color: #e30d0d;
        border-color: #f36464;
        padding: 0.75rem 1.25rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        text-align: center;
        display: none;
      }

      .success-alert {
        margin: 0 auto;
        color: #155724;
        border-color: #c3e6cb;
        padding: 0.75rem 1.25rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        display: none;
        text-align: center;
      }
</style> 
{% block body %}
<div class="add-question">
    <h1 class="title">Add Quiz Questions</h1>
    <div class="success-alert" id="success-alert">
        {% if messages %} 
          {% for message in messages %} 
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
              {{message}}
            {% endif %} 
          {% endfor %} 
        {% endif %}
      </div>

      <span class="error-alert" id="error-alert">
        {% if messages %} 
          {% for message in messages %} 
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
              {{message}}
            {% endif %} 
          {% endfor %} 
        {% endif %}
      </span>

    <form id="question-form" action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Add">
        <a href="{% url 'quiz:show_quiz_question' %}">Show Questions</a>
    </form>
   
</div>

<script>
    window.addEventListener('load', function() {
        const errorMessage = document.getElementById('success-alert');
        if (errorMessage.innerHTML.trim() !== "") {
            errorMessage.style.display = "block";
            setTimeout(function() {
                errorMessage.style.display = "none";
            }, 1000);
        }
    });

    window.addEventListener('load', function() {
        const errorMessage = document.getElementById('error-alert');
        if (errorMessage.innerHTML.trim() !== "") {
            errorMessage.style.display = "block";
            setTimeout(function() {
                errorMessage.style.display = "none";
            }, 1000);
        }
    });

</script>
{% endblock  %}









